*,
*::before,
*::after {
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.attribution {
  @include flexbox;
  background-color: var(--light-grayish-cyan);
  @media (max-width: 940px) {
    font-size: 10px;
  }
}
